@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-mfk-yellow: #ffca08;
  --color-mfk-blue: #2065b0;
}

body {
  font-family: "IBM Plex Sans Arabic", serif;
  direction: rtl;
}